# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Compiled files
*.pyc
*.pyo

# Temporary files
*.~
*.swp

# IDE specific files (e.g. VSCode, PyCharm)
.vscode/
.idea/

# Environment / virtualenvs
env/
venv/
.venv/
*.env

# Logs
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore pipenv / poetry lock files
Pipfile.lock
poetry.lock

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Credeentials
credentials.json
token.pickle
